.userPhoto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.selectedPage {
  font-weight: bold;
}

.pageLayout {
  display: flex;
  gap: 5px;
}

.page {
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.page:hover {
  color: bisque;
}

.spinner {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

.userBlock > a {
  width: fit-content;
  display: flex;
  height: fit-content;
  border-radius: 50%;
}
