.header {
  grid-area: h;
  background-color: #222222;
}
.header img {
  border-radius: 50%;
}
.loginBlock {
  float: right;
  color: whitesmoke;
}
.loginBlock > a {
  color: white;
  text-decoration: none;
}
